*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins medium';
}
body{
    background: url(./images/bg-intro-desktop.png), hsl(0, 100%, 74%);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
}
main{
    width: 80%;
    margin: auto;
    display: flex;
}
.left{
    width: 40%;
    display: flex;
    align-items: center;
}
.left h1{
    font-size: 3.575em;
    line-height: 1.1em;
    margin-bottom: 0.7em;
}
.right{
    width: 50%;
    margin-left: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right .top{
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    text-align: center;
    padding: 3vh 0;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    margin-bottom: 2em;
    box-shadow: 0px 7px 0 rgb(0 0 0 /0.15) ;   
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 5vh 0;
    border-radius: 10px;
    box-shadow: 0 9px 0 rgb(0 0 0 /0.15);
}
input{
    display: block;
    width: 75%;
    padding: 2vh 5%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0.5em 0;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
}
button{
    width: 85%;
    padding: 2vh 0;
    font-size: 16px;
    background-color: hsl(154, 59%, 51%);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 0 hsl(154, 56%, 42%);
    color: white;
    margin: 0.5em 0;
}
button:hover{
    background-color: hsl(154, 55%, 63%);
}
form p{
    width: 70%;
    font-size: 12px;
    color:  hsl(246, 25%, 77%);
}
.term{
    color: hsl(0, 100%, 74%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }